:root {
    --dark-grey-color: rgb(61, 61, 61);
}

div {
    border: 2px solid black;
    padding: 6px 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 10px auto 10px auto;
}

h1 {
    margin-top: 1rem;
    background: #acafd5;
    font-size: calc(30px + (45 - 24) * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    margin-bottom: 1.3rem;
    color: #0C175D;
}

.p_principal {
    text-align: center;
}

h2 {
    margin-top: 2.5rem;
    color: #121A66;
    background: #B6B6B6;
    font-size: calc(24px + (35 - 24) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 3px solid #121A66;
    padding: 10px;
    margin-bottom: 1rem;
}

b {
    color: blue;
}

b:hover {
    cursor: pointer;
    text-decoration: underline;
}

h3 {
    margin-top: 2rem;
    color: var(--dark-grey-color);
}

ul {
    padding: 0;
}

li {
    line-height: 1.5rem;
    list-style-position: inside;
}

p {
    font-size: calc(16px + (27 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.p_forte {
    color: var(--dark-grey-color);
    font-weight: bold;
}
