@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Belleza&family=Italiana&family=Roboto:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alan Sans", sans-serif;
}

img {
    display: block;
}

h2 {
    font-size: clamp(3rem, 2.7vw, 20rem);
    margin-top: clamp(4rem, 2dvw, 8rem);
    margin-bottom: clamp(4rem, 2dvw, 8rem);
    text-align: center;
}

p {
    font-size: clamp(1.5rem, 1.2dvw, 5rem);
}

.principal {
    max-height: 70vh;
    overflow: hidden;
}


.cabecalho-principal {
    background: #2a2a2a;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: clamp(.3rem, .33dvw, 1.2rem) solid #ccc;
    z-index: 1;
   
}

.cabecalho-principal div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-secundario {
    position: relative;
    visibility: hidden;
}

.cabecalho-principal ul {
    display: flex;
    list-style-type: none;
    gap: clamp(2rem, 1dvw, 6rem);
}

.cabecalho-principal a {
    text-decoration: none;
    color: orange;
    border: .1rem solid orange;
    font-size: clamp(1.2rem, 1.2vw, 5rem);
    padding: 1rem;
    transition: all .3s cubic-bezier(.42,1.95,.69,.28);
}

.cabecalho-principal a:hover {
    border-radius: 14px;
}

.cabecalho-principal h1 {
    cursor: pointer;
    padding-bottom: 1rem;
}

.cabecalho-principal h1 img {
    width: clamp(15rem, 13dvw, 50rem);
    aspect-ratio: 3 / 1.3;
}

.mensagem-principal {
    background: linear-gradient(white, yellow);
}

.mensagem-principal > div {
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    justify-content: center;
    height: calc(70vh - 1rem - (clamp(15rem, 13dvw, 50rem) * (1.3 / 3)));
    width: 90%;
    padding-right: 9rem;
    overflow: hidden;
}

.mensagem__introducao {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.mensagem__introducao p {
    font-size: clamp(2rem, 3dvw, 9rem);
    margin: auto 0;
    width: 70%;
    font-weight: normal;
    text-align: left;
}

.mensagem__introducao div {
    width: 70%;
    display: flex;
    justify-content: center;
}

.mensagem__button {
    margin-bottom: auto;
}

.mensagem__introducao a {
    display: block;
    padding: clamp(1rem, .8dvw, 3rem) clamp(3rem, 1dvw, 5rem);
    border-radius: 7px;
    background: orange;
    font-size: clamp(1.4rem, 2dvw, 7rem);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    opacity: 0;
    transform: translateX(-200%);
    transition: border-radius 200ms cubic-bezier(0,1.57,.93,1.51);
    animation: entrarSuave .5s ease-out forwards;
}

@keyframes entrarSuave {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mensagem__introducao a:hover, .cursos__link a:hover {
    background: #5C9AC1;
    border-radius: 1.5rem;
    color: rgb(235, 234, 234);
}

.mensagem__imagem {
    flex: 1 1 0;
    display: flex;
}

.mensagem-principal img {
    width: 90%;
}

.cursos__div {
    display: flex;
    gap: clamp(2rem, 2.5dvh, 5rem);
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.cursos__artigo {
    flex: 1 1 0;
    text-align: center;
    border-radius: .9rem;
    height: clamp(20rem, 30vw, 1000rem);
    border: 1px solid #ccc;
}

.cursos__artigo div {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.cursos__artigo img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 200ms ease;
}

.cursos__artigo img:hover {
    transform: scale(1.2);
}

.cursos > h2 {
    font-size: clamp(3rem, 2.7vw, 20rem);
    text-align: center;
}

.cursos__artigo h3 {
    font-size: clamp(2rem, 1.7dvw, 7rem);
    margin-top: clamp(1rem, 1dvw, 3rem);
    margin-bottom: clamp(1rem, 1dvw, 3rem);
}

.cursos__artigo p {
    font-size: clamp(1.5rem, 1.2dvw, 5rem);
    padding: 0 1rem;
}

.cursos__link {
    display: block;
    margin-top: clamp(5rem, 3dvw, 7rem);
    margin-bottom: clamp(5rem, 3dvw, 7rem);
    text-align: center;
}

.cursos__link a {
    background-color: orange;
    text-decoration: none;
    font-size: clamp(1.5rem, 1.54vw, 6rem);
    padding: clamp(1.5rem, .8dvw, 4rem) clamp(3rem, 1.1dvw, 6rem);
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border-radius: .7rem;
    transition: border-radius 200ms cubic-bezier(0,1.57,.93,1.51);
}

.our-school {
    background: #003460;
}

.school-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.school__image {
    flex: 1 1 0;
    display: flex;

}

.school__image img {
    width: clamp(20rem, 30dvw, 100rem);
}

.school__text {
    flex: 1 1 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: clamp(.3rem, 2.3dvw, 5rem);
    color: white;
}

.school__text h2 {
    margin: 0;
    margin-bottom: auto;
    text-align: left;
}

.school__text p {
    margin-bottom: auto;
    display: block;
    width: 80%;
}

.contatos {
    width: 90%;
    margin: 0 auto;
}

.contact__image {
    margin-bottom: clamp(2rem, 1.5dvw, 5rem);
}

.contact__image img {
    width: 100%;
}

.contact__address {
    text-align: right;
    margin-bottom: clamp(2rem, 1.5dvw, 5rem);
}

.rodape-principal {
    text-align: center;
    background-color: #232426;
    padding: clamp(2rem, 2dvw, 7rem);
    color: white;
}


